<div class="text-center card">
    <h4 class="card-header">
      About us
    </h4>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Welcome to GoodMovies! Discover a wide range of movies, from classics to the latest blockbusters. Easily find films you love, read reviews, and stay updated with movie news.</p>
        <p>Use our "Watch Later" feature to save movies and watch them at your convenience. Join our community to discuss and share your favorite films.</p>
        <p>Thank you for choosing GoodMovies. Enjoy the show!</p>
        <footer class="blockquote-footer">The creators of <cite title="Source Title">GoodMovies</cite></footer>
      </blockquote>
    </div>
  </div>

