<h1>{{title}}</h1>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a [routerLink]="'/'" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</a>
  </li>
  <li class="nav-item" role="presentation">
    <a [routerLink]="'/about'" class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">About</a>
  </li>
  <li class="nav-item" role="presentation">
    <a [routerLink]="'/suscribe'" class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Suscribe</a>
  </li>
</ul>

<router-outlet></router-outlet>

<footer class="text-center text-lg-start">
  <div class="container d-flex justify-content-center">
    <a href="https://twitter.com">
      <img src="../assets/twitter.jpg" alt="Twitter">
    </a>
    <a href="https://instagram.com">
      <img src="../assets/instagram.jpg" alt="Instagram">
    </a>
    <a href="https://facebook.com">
      <img src="../assets/facebook.jpg" alt="Facebook">
    </a>
  </div>

  <div class="text-center text-white p-3">© {{title}}</div>
</footer>
