<h2> Movies </h2>
<div class="divPeliculas">
    <div class="card" *ngFor="let p of peliculas" style="width: 13rem;">
        <img src="{{p.image}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{p.title}}</h5>
            <p class="card-text">{{p.description}} <span class="badge text-bg-warning" *ngIf="p.year < 2000">Old movie</span> </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Genre: <span *ngFor="let g of p.genre">{{g}}, </span> </li>
            <li class="list-group-item">Release year: {{p.year}}</li> 
        </ul>
        <div class="botonCard card-body">
            <button (click)="addToWatchLater(p)" type="button" class="btn btn-outline-success">Watch later</button>
        </div>
    </div>
</div>
