h2 {
    padding-top: 30px;
}

.card {
    font-size: smaller;
    margin-bottom: 20px;
}

.divPeliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.botonCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

